@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

*{
    box-sizing: border-box;
}
:root{
    --primary-color : rgba(242, 79, 22, 1);
    --secondary-color : #cb3b3b;
    --highlight-color : #ffa45c;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* Start Header */
header{
    /* height: 100vh; */

    background: url('../assets/img/bg/headerbg.jpg');
    background-size: cover;
    background-position: center;

    position: relative;
}
/* Start navbar */
.navbar{
    background: linear-gradient(
        transparent,
        var(--primary-color)
    );
    color: #f4f4f4;
    padding: 10px 0px;

    transition: padding 0.5s;
}
.navbar.compresses{
    padding: 5px 0px;
}
.menuitems{
    color: #f4f4f4;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 15px;

    transition: all 0.5s;
}
.menuitems:hover{
    color: var(--highlight-color);
    letter-spacing: 4px;
}
.navbuttons{
    border: 5px solid var(--highlight-color);
}
.line1s,.line2s,.line3s{
    width: 25px;
    height: 3px;
    background: var(--highlight-color);
    margin: 6px 0;

    transition: all 0.5s;
}
.navactives .line1s{
    transform: translateY(9px) rotate(-45deg);
}
.navactives .line2s{
    opacity: 0;
}
.navactives .line3s{
    transform: translateY(-9px) rotate(45deg);
}
/* End navbar */

/* Start banner */
.banners{
    width: 80%;
    background: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.3)
    );
    padding: 20px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.list-inline-item{
    margin: 0 !important;
}
.checks label{
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.checks input{
    width: 200px;
    background: none;
    border: 1px solid #eee;
    color: #fff;
    padding: 10px;
}
.checks input:focus{
    outline: 0;
}
.checks input::placeholder{
    color: #eee;
}
.inputparents,.guestsparents{
    position: relative;
}
.inputparents::after{
    content: '\f133';
    font-family: 'Font Awesome 5 Free';

    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.guestsparents{
    position: relative;
}
.guestbtns{
    background: none;
    color: #fff;
    height: 50%;
    border: 0;

    position: absolute;
}
.guestbtns.upbtns{
    right: 0;
    top: 0;
}
.guestbtns.downbtns{
    right: 0;
    bottom: 0;
}
/* End banner */

/* End Header */

/* Start Room Section */


/* End Room Section */
/* start title */
.titles{
    color: var(--primary-color);
    padding: 20px 40px;
    margin-bottom: 20px;
}
.titles span{
    display: inline-block;
    width: 50px;
    height: 50px;

    line-height: 50px;

    position: relative;
}
.titles span::before{
    content: '';
    width: 100%;
    height: 100%;
    /* background-color: var(--primary-color); */
    border: 2px solid var(--primary-color);


    position: absolute;
    left: 0;
    top: 0;

    transform: rotate(45deg);
}

/* end title */
.rooms{
    background: #eee;
}
.roomcards{
    position: relative;

    overflow: hidden;
}
.roomcards::after{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.4)
    );

    position: absolute;
    left: 0;
    top: 0;
}
.roomimgs{
    width: 100%;
    height: 350px;
    object-fit: cover;

    transition: transform 0.8s;
}
.roominfos{
    width: 100%;
    color: #fff;
    padding: 20px;
    padding-bottom: 30px;

    position: absolute;
    left: 0;
    bottom: -50px;

    z-index: 1;

    transition: bottom 0.5s;
}
.room-prices{
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
}
.room-types{
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding: 10px 0;

    position: relative;
}
.room-types::before{
    content: '';
    width: 30%;
    height: 1px;
    background-color: #f4f4f4;

    position: absolute;
    bottom: 0;
    left: 0;

    transition: width 0.5s;
}

.roomcards:hover .room-types::before{
    width: 100%;
}
.roomcards:hover .roomimgs{
    transform: scale(1.2);
}
.roomcards:hover .roominfos{
    bottom: 0;
}

/* Start Services Section */


.servicesboxes{
    height: 500px;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: all 0.5s;
    transform-origin: bottom;

    position: relative;
}
.servicesboxes:hover{
    transform: scaleY(1.03);
}
.servicesboxes:hover i,.servicesboxes:hover h3{
    opacity: 0;
}
.servicesboxes i{
    margin-bottom: 20px;
    color: var(--highlight-color);
    font-size: 30px;
}
.servicesboxes h3{
    text-transform: uppercase;
}
.servicesboxes:nth-of-type(1){
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url('../assets/img/bg/services1.jpg');
    background-size: cover;
    background-position: center;
}
.servicesboxes:nth-of-type(2){
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url('../assets/img/bg/bagan3.jpg');
    background-size: cover;
    background-position: center;
}
.servicesboxes:nth-of-type(3){
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url('../assets/img/bg/services3.jpg');
    background-size: cover;
    background-position: center;
}
.servicesboxes:nth-of-type(4){
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url('../assets/img/bg/services4.jpg');
    background-size: cover;
    background-position: center;
}
.servicesboxes:nth-of-type(5){
    height: 200px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url('../assets/img/bg/services5.jpg');
    background-size: cover;
    background-position: center;
}
.servicesboxes .serviceinfos{
    width: 100%;
    height: 100%;
    background: transparent;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    opacity: 0;

}
.serviceinfos p{
    text-align: center;
    padding: 20px;
}
.servicesboxes:hover .serviceinfos{
    opacity: 1;
    transition: all 0.5s;
}
/* End Services Section */

/* Start Subscribe Section */
.subscribesecs{
    background:  linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.4)
    ) ,url('../assets/img/bg/bagan1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}
.imagecontainers{
    perspective: 600px;
}
.contactimg{
    width: 80%;
    height: 250px;
    object-fit: cover;

    box-shadow: 0 0 17px rgba(0,0,0,0.5);

    position: relative;

    transition: all 0.5s;
}
.contactimg:nth-of-type(1){
    z-index: 2;
}
.contactimg:nth-of-type(2){
    left: 50px;
    top: -80px;
    /* transform: translate(10%,-50%); */
}

.subscribeboxs{
    /* height: 400px; */
    border: 3px solid var(--highlight-color);
    color: #fff;
    padding: 20px;
}
.subscriboxs-body label{
    transform: translate(10px,-55px);
    font-weight: bold;

    transition: all 0.5s;
}
.subscriboxs-body input:placeholder-shown + label{
    opacity: 0;
    transform: translate(30px, -10px);
}
.subscriboxs-body input{
    background: transparent;
    border: none;
    border-bottom: 2px solid #eee;
    border-radius: 0;
    color: #fff;
}
.subscriboxs-body input::placeholder{
    color: #ddd;
}
.subscriboxs-body input:focus{
    background: transparent;
    border-bottom: 2px solid var(--primary-color);
    color: #fff;
    outline: 0;
    box-shadow: none;
}
.subscriboxs-titles{
    background: linear-gradient(
        -70deg,
        var(--primary-color) 70%,
        var(--highlight-color) 30%
    );
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
}
.subscribebtn{
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    margin: auto;    
}
/* End Subscribe Section */

/* Start Banner Carousel */
.banner-carousels{
    height: 80vh;
    background-size: cover;
    background-position: center;
    color: #fff;

    position: relative;
}
.banner-carousels-bodys{
    position: absolute;
    left: 0;
    bottom: 0;
}
.banner-carousels:nth-child(1){
    background-image: url('../assets/img/bg/headerbg.jpg');
}
.banner-carousels:nth-child(2){
    background-image: url('../assets/img/rooms/deluxeroom.jpg');
}
.banner-carousels:nth-child(3){
    background-image: url('../assets/img/rooms/doubleroomgarden.jpg');
}
/* End Banner Carousel */